<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>
<p-dataView #dv [value]="products()"  [paginator]="true" [rows]="2" filterBy="name"
            [sortField]="sortField" [sortOrder]="sortOrder" paginatorPosition="top">
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortField" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
            <span class="p-input-icon-left mb-2 md:mb-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Filter by Name" (input)="dv.filter($any($event.target).value, 'contains')" >
              </span>
        </div>
    </ng-template>
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                <i class="pi pi-tag product-category-icon"></i><span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <tr>
                    <td>
                        <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                        <div class="text-lg font-medium text-900 mt-2">{{ product.price | currency: 'EU': true }}</div>
                        <div class="text-lg font-medium text-900 mt-2">{{ product.description }}</div>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        <div class="text-lg font-medium text-900 mt-2">status: {{ product.inventoryStatus }}</div>
                    </td>
                    <td>
                        <img src="{{ product.image }}" class="w-full h-48 object-cover"  alt="image"/>
                    </td>
                </tr>

                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'" (onClick)="addToCart(product)"></p-button>
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>